li {
  padding-right: 30px;
  cursor: pointer;
  margin: auto;
}

#login {
  border-radius: 30px;
  border: 1px solid white;
  padding: 5px 50px;
  color: white;
  transition-duration: 0.5s;
}

#login:hover {
  background-color: goldenrod;
}

ul {
  list-style: none;
  display: flex;
  align-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}
