<div class="try">
  <div class="side">
    <app-side-bar></app-side-bar>
  </div>
  <div class="body">
    <div class="cont">
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
      <app-prod-card></app-prod-card>
    </div>
  </div>
</div>
