/* .cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
} */

.card {
  border: 1px black solid;
  padding: 5px;
  margin: 10px;
  transition-duration: 1s;
  box-shadow: 10px 10px 10px rgb(25, 25, 25);
}

.card:hover {
  transform: scale(1.1);
}

.card .image {
  width: 100%;
  margin: auto;
}

.card .image img {
  width: 100%;
}

.card .prod-name {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.card .prod-disc {
  text-wrap: wrap;
  font-size: 15px;
  padding-left: 5px;
}

.card .prod-price {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.card .buy-btn {
  text-align: center;
}

.card .buy-btn button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  text-align: center;
  width: 100%;
}
